<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle *ngFor="let m of menus">
          <ion-nav-link router-direction="forward" [component]="m.component">
            <ion-item>{{m.title}}</ion-item>
          </ion-nav-link>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-content id="main-content">
    <ion-router-outlet ></ion-router-outlet>
  </ion-content>
</ion-app>
