<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="8">
        <ion-card>
          <ion-card-header class="myCardHeader">Contact</ion-card-header>
          <ion-card-content class="ion-padding">
            <p>Name: <strong>{{contact.name}}</strong></p>
            <p>Email: <strong>{{contact.email}}</strong></p>
            <img src="{{contact.photo}}">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
